
<header>
    <div class="container">
        <img src="https://txt.1001fonts.net/img/txt/dHRmLjQ0LmU0NTQyMS5jR0YwYUEsLC4w/rolling-beat-personal-use.regular.png" class="logo" alt="Short Url Logo" />

        <div class="auth-buttons">
            <a href="/login" class="button button-primary">Login</a>
            <a href="/signup" class="button button-bordered">Signup</a>
        </div>
    </div>
</header>